[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
h5py = "==3.11.0"
matplotlib = "==3.9.0"
numpy = "==2.0.1"
scikit-image = "==0.24.0"
jupyterlab = "==4.2.4"
sphinx = "*"
myst-parser = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.12"
